.my-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
}

.my-form div {
    width: 95%;
    height: 55px;
    text-align: left;
    border: 2px solid var(--dark-blue);
    border-radius: 3px;
    position: relative;
    margin: 10px;
}

.my-form div.row {
    width: 95%;
    height: auto;
    margin: 0;
    border: none;
    border-radius: 0;
}

.my-form .row div {
    margin: 20px 0px;
    width: 100%;
}

.my-form div.form-description {
    height: 200px;
}

.my-form label {
    position: absolute;
    font-size: 1.3em;
    color: var(--dark-blue);
    left: 30px;
    top: 10px;
    /* background-color: var(--white); */
    padding: 0 10px;
    
    transition: all 250ms ease-in-out;
}


.my-form input:focus + .label,
.my-form input:hover + .label,
.my-form textarea:focus + .label,
.my-form textarea:hover + .label {
    top: -14px;
    left: 20px;
    background-color: var(--white);
}

.label.typed {
    top: -14px;
    left: 20px;
    background-color: var(--white);
}

.my-form input::placeholder {
    color: var(--white);
    transition: color 200ms linear;
}

.my-form input:focus::placeholder,
.my-form input:hover::placeholder {
    color: #333;
}

.my-form input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--white);
    
    font-size: 1.3em;
    color: #333;
    padding: 10px 30px 0 30px;
}

.my-form input[type='datetime-local'] {
    padding: 10px;
    font-family: sans-serif;
    font-size: 1.2em;
}

.my-form input[type='file'] {
    padding-top: 15px;
}

.my-form div.form-description textarea {
    width: 100%;
    height: 100%;
    font-size: 1.3em;
    color: #333;
    padding: 10px 30px;
    font-family: sans-serif;
    border: none;
    background-color: var(--white);
    resize: none;
}

.my-form .member {
    display: flex;
    justify-content: center;
    border: none;
    
    font-size: 1.2em;
    color: #333;
}

.my-form button:hover {
    background-color: var(--tan);
    color: #333;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
}

.my-form button {
    font-size: 2em;
    padding: 20px 40px;
    margin: 20px;
    
    border: none;
    border-bottom: 3px solid var(--dark-blue);
    border-radius: 4px;;
    background-color: var(--dark-blue);
    color: var(--white);

    transition: color 150ms linear, background-color 150ms linear;
}

.my-form .row button {
    margin: 0;
    width: 100%;
    font-size: 1.5em;
    padding: 10px 60px;
}

.my-form .loading {
    border: none;
    color: var(--dark-blue);
    font-size: 3em;
    text-align: center;
    margin: 0;
}

.my-form .selectDiv {
    margin-left: 0;
    
}

.my-form select:focus {
    outline: none;
}

.my-form select {
    width: 100%;
    height: 100%;
    font-size: 1.3em;
    color: #333;
    padding-left: 10px;
    border: none;
    cursor: pointer;
}

.my-form .featured-check {
    border: none;
    display: flex;
}

.my-form .featured-check label {
    position: relative;
    font-weight: bold;
    margin: 5px 10px 0 0;
}

.my-form .featured-check input {
    height: 50%;
    align-self: center;
}

@media only screen and (min-width: 678px) {
    
    .my-form div {
        width: 100%;
    }

    .my-form div.row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .my-form div.large-half {
        width: 49%;
    }

    .my-form .row button {
        width: 30%;
        height: 55px;
        margin-left: 30px;
    }

    .my-form .row .loading {
        width: 44%;
        margin-left: 30px;
    }
}