header {
    width: 100vw;
    position: relative;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.5);
}
nav {
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 7vh;
    background-color: var(--tan);
}

nav h2:hover {
    border-bottom: 3px solid #888;
}

nav h2 {
    color: var(--dark-blue);
    font-size: 1em;
    text-align: center;
    height: 100%;
    padding-top: 10px;
}

nav h2 span {
    color: var(--white);
    font-size: 1.7em;
    text-align: center;
    display: block;
    width: 100%;
}

nav h2,
nav .categories-wrapper,
nav .right-side {
    display: none;
}

.search-container {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .right-side {
    height: 100%;
}

nav .right-side a:hover {
    border-bottom: 3px solid #888;
}

nav .right-side a{
    color: #333;
    font-size: 1.8em;
    margin-right: 30px;
    padding: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: 2px solid var(--tan);

}

nav p {
    font-size: 1.8em;
}

/* ==================================================================================================
                MEDIA QUERIES
   ================================================================================================== */

   @media only screen and (min-width: 679px) {
        nav h2,
        nav .categories-wrapper,
        nav .right-side {
            display: block;
            cursor: pointer;
        }

        nav .right-side {
            display: flex;
            width: 200px;
            /* height: 70%; */
            justify-content: flex-end;
            align-items: center;
        }

        nav .right-side.logged-out {
            height: 70%;
        }

        nav .right-side button:hover,
        nav .right-side button:focus {
            cursor: pointer;
            border-radius: 2px 2px 0 0;
            color: #333;
            background-color: var(--white);
            outline: none;
        }

        nav .right-side button {
            height: 100%;
            border: none;
            background-color: var(--dark-blue);
            border-bottom: 2px solid var(--dark-blue);
            border-radius: 2px;;
            color: var(--white);
            font-size: 1.3em;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 200ms linear;
        }

        nav .right-side button:first-child:hover,
        nav .right-side button:first-child:focus {
            border-bottom: 2px solid #777;
            color: #777;
            outline: none;
        }

        nav .right-side button:first-child {
            background-color: var(--tan);
            color: #444;
            height: 60%;
            text-align: right;
            padding:0;
            margin-right: 10px;
            border-bottom: 2px solid var(--tan);


            transition: color 200ms linear;
        }

   }