.main-admin ul {
    list-style: none;
    border: 2px solid #333;
    border-radius: 3px;
    width: 100%;
    margin: 10px;
    padding: 20px;
}

.main-admin li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.main-admin li a {
    text-decoration: none;
    font-size: 1.5em;
    flex: 1;
    display: flex;
    align-items: center;
}

.main-admin li .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-admin li .buttons button:hover {
    background-color: var(--white);
    cursor: pointer;
    border-top: 3px solid var(--white);
}

.main-admin li .buttons button {
    border: none;
    border-top: 3px solid var(--red);
    border-bottom: 3px solid var(--red);
    background-color: var(--red);
    color: #333;
    padding: 10px;
    border-radius: 3px;
    font-size: 1.2em;
    box-sizing: border-box;
}

.main-admin li a:hover {
    text-decoration: underline;
    color: var(--dark-blue);
}

.main-admin li .buttons a {
    font-size: 1.2em;
}

@media only screen and (min-width: 678px) {
    .main-admin ul {
        width: 60%;
    }

    .main-admin li .buttons {
        flex-direction: row;
        width: 150px;
    }
}