*, *::before, *::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

* {
  color: #333;
  --white: #f3f3f3;
  --tan: #ECC385;
  --orangy: #e6a067;
  --red: rgb(231, 65, 65);
  --dark-blue:  #4040d4;
}

h1 {
  text-align: center;
}

body {
  margin: 0;
  overflow-x: hidden;
}

body #root {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: var(--white);
}

main {
  /* background-color: lightblue; */
  width: 100%;
  max-width: 1400px;
  min-height: 80vh;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;
  position: relative;
  top: -50px;
  transition: top 1s ease-in-out;
}

.banner .main-banner {
  flex: 1;
  text-align: center;
}

.banner p {
  margin: 30px;
  cursor: pointer;
}

.banner.banner-showing {
  top: 0;
  transition: top 1s ease-in-out;
}

footer {
  background-color: var(--tan);
  width: 100%;
  text-align: center;
  padding: 10px;
}

footer a.email-us:hover {
  border-radius: 3px 3px 0 0;
  border-bottom: 3px solid #777;
}

footer a.email-us {
  display: block;
  background-color: var(--white);
  width: 120px;
  height: 50px;
  border-radius: 3px;
  margin: 20px auto;

  padding-top: 17px;

  text-decoration: none;
  color: var(--dark-blue);
  font-weight: 700;
}

.err-message {
  padding: 10px;
  font-size: 1.4em;
  color: var(--red)
}
.bigger-p {
  font-size: 1.3em;
  font-weight: bolder;
}

.hr {
  width: 100%;
  border-bottom: 2px solid #333;
}

.margin-20 {
  margin-bottom: 20px;
}

.main-privacy {
  width: 100%;
  max-width: 800px;
}

.main-privacy h1,
.main-privacy h2 {
  color: var(--dark-blue)
}

.main-privacy h2, h4, p {
  text-align: left;
  width: 90%;
}

.main-privacy p {
  width: 100%;
}

.main-privacy h4 {
  color: var(--orangy)
}

.main-privacy h1,
.main-privacy h2,
.main-privacy h4,
.main-privacy p {
  margin-bottom: 20px;
}

.main-privacy ul {
  padding-left: 20%;
}