*, *::before, *::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

* {
  --white: #f3f3f3;
  --tan: #ECC385;
}

body #root {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: var(--white);
}

main {
  width: 100%;
  max-width: 1600px;
}