.main-class {
    min-height: 90vh;
    width: 95vw;
}

.vid-and-details video {
    width: 100%;
}

.vid-and-details .details {
    display: block;
    width: 100%;
    border: 2px solid #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.vid-and-details p {
    font-size: 1.3em;
    color: #333;
}

.vid-and-details div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: inherit;
}

.vid-and-details button:hover {
    border-radius: 3px 3px 0 0;
    border-bottom: 3px solid #333;
    cursor: pointer;
}

.vid-and-details button {
    width: 150px;
    height: 55px;
    margin-top: 20px;
    
    border: none;
    border-radius: 3px;
    background-color: var(--tan);
    color: #333;
    font-size: 1.3em;
    font-weight: bold;
}

.main-class h2 {
    margin-top: 25px;
    font-size: 2em;
}

.main-class ul.other-class-ul {
    list-style: none;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
}

.stars-ul {
    display: flex;
    list-style: none;
}

.stars-ul li:hover {
    cursor: inherit;
}

.stars-ul.changing li:hover {
    cursor: pointer;
}

.yellow {
    color: goldenrod
}

@media only screen and (min-width: 678px) {

    .vid-and-details {
        width: 100%;
        /* background-color: grey; */
        height: auto;
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
    }

    .vid-and-details video {
        width: 60%;
    }

}
