@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
.main-home {
    width: 100%;
    min-height: 90vh;
}

.main-home h3 {
    align-self: flex-start;
    font-size: clamp(1.5em, 5vw, 2em);
    margin: 10px 10px 0 ;
}

/* ============================================================================================================
        FEATURED CARD
 ============================================================================================================ */

.featured-container {
     border-radius: 1px;
     /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */

     width: calc(100% - 20px);
     height: 40vh;
     padding: 3%;

     display: flex;
     justify-content: flex-start;
     align-items: flex-end;
 }

 .featured-img {
    width: 100%;
 }

 .main-home .insta {
     width: 100%;
     display: flex;
     justify-content: center;
 }

 .main-home .insta img {
     width: 100%;
 }

 .main-home > a.thriller {
     width: 100%;
     height: 20vh;
     position: relative;
     padding: 10px 0;

     display: flex;
     justify-content: center;
     align-items: center;

     text-decoration: none;
     overflow: hidden;

     background-color: #000;
}

.main-home > a.thriller img {
    height: 20vh;
}
.main-home > a div {
    display: none;
     z-index: 1;
     width: 50%;
}

.main-home > a .mobile-mute {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
    text-align: right;
    padding-right: 10px;
}

.main-home > a .mobile-mute i {
    font-size: 1.5em;
    color: orange;
}

 .featured-card {
     width: 100%;
     max-width: 400px;
     height: 80%;
     padding: 15px;
     background-color: var(--white);

     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .featured-card-title {
     font-size: 200%;
     align-self: flex-start;
 }
 .featured-card p { 
     flex: 1;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .featured-card-instructor {
     width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .featured-card-instructor button {
     border: none;
     cursor: pointer;
     align-self: flex-end;
     margin-top: 5px;
     padding: 10px;
     background-color: var(--tan);
 }

 /* ============================================================================================================
        CLASS CARDS
 ============================================================================================================ */

 .random-list {
     list-style: none;
     padding: 0 10px;
     width: 100%;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
 }

 .random-list li {
    /* border: 1px solid red; */
    /* height: 200px; */
 }

/* ============================================================================================================
        DIRECTOR MSG
 ============================================================================================================ */
 
 .director-msg {
     /* background-color: #bbb; */
     width: 100%;
     /* height: 50vh; */

     position: relative;

     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 .director-msg .director-contents {
    /* background-color: red; */
    position: relative;
    z-index: 2;
    flex: 1;
    height: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

 .director-contents h3 {
     width: 100%;
     color: #333;
     margin-bottom: 20px;
 }
 .director-msg .paragraphs {
     background-color:var(--dark-blue);
     width: 102%;
     padding: 10px 5px;
     text-align: center;
     margin-bottom: 10px;
    }
    
.director-msg .paragraphs p {
    padding: 10px;
    color: var(--white);
 }

 .director-msg .signature p {
     margin: 0;
     padding: 0;
     text-align: center;
 }

 .signature p span {
     font-size: 1.2em;
    font-weight: bold;
    }

 .director-msg img {
     width: 40%;
     min-width: 200px;
     max-width: 300px;
     position: relative;
     z-index: 2;
 }

 
@media only screen and (min-width: 1000px) {
    
    .director-msg {
        flex-direction: row;
    }

}
 @media only screen and (min-width: 678px) {

    .main-home > a.insta {
        width: 100%;
        margin-bottom: 10px;
    }

    .main-home > a.thriller {
        height: clamp(27vw,260px,40vh);
    }

    .main-home > a.thriller img{
        height: clamp(20vw,200px,40vh);
    }

    .main-home > a.thriller div:hover span {
        display: flex;
    }

    .main-home > a.thriller div {
        display: block;
        height: clamp(60%, 200px, 90%);
        max-height: 260px;
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-home > a.thriller video {
        height: 120%;
    }

    .main-home > a.thriller .mobile-mute {
        display: none;
    }

    .main-home > a.thriller span {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
        display: none;
    }

    .main-home > a.thriller i {
        color: orange;
    }

     .director-msg img {
         transform: translate(-30px);
     }

     .director-contents {
        padding: 30px;
        text-align: center;
    }

    .director-contents .paragraphs {
        padding: 30px;
        font-size: 1.3em;
    }
 }