header {
    width: 100vw;
    height: 7vh;
}
nav {
    display: flex;
    height: 100%;
    background-color: var(--tan);
}

nav h2 {
    color: var(--white);
}

nav h2,
nav .categories-wrapper,
nav .right-side {
    display: none;
}

.search-container {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ==================================================================================================
                MEDIA QUERIES
   ================================================================================================== */

   @media only screen and (min-width: 679px) {
        nav h2,
        nav .categories-wrapper,
        nav .right-side {
            display: block;
        }

        nav h2:hover {
            cursor: pointer;
        }
   }