.class-card:hover .class-card-container {
    width: 90%;
    opacity: 1;
    transition: width 250ms ease-in-out, opacity 250ms ease-in-out;
}

.class-card:hover .class-card-bg {
    width: 100%;
    height: 100%;
    transition: width 250ms ease-in-out, height 250ms ease-in-out;
}

.class-card:hover img {
   height: 50%;
   top: 0;
   margin-top: 0;
} 

.class-card {
    width: 90%;
    max-width: 400px;
    height: 250px;
    margin: 10px auto;
    /* background-color: #777; */

    position: relative;

   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.class-card .star-container {
    display: flex;
}

.class-card:hover h5 {
    display: none;
}

.class-card h5 {
    position: absolute;
    bottom: 0;

    width: 100%;
    border-bottom: 3px solid #333;
    background-color: var(--white);
    opacity: .6;
    text-align: center;
    font-size: 1.4em;
    padding: 10px;
    z-index: 5;

}

.class-card img {
    height: 90%;
    position: absolute;
    z-index: 2;
    top: 50%;
    margin-top: -25%;

    transition: top 250ms ease-in-out,  top 250ms ease-in-out, margin-top 250ms linear;
}

.class-card-container {
    height: 50%;
    align-self: flex-end;
    /* background-color: red; */
    opacity: 0;
   width: 20%;

   display: flex;
   flex-direction: column;

    position: relative;
    z-index: 1;
}

.class-card-container h4 {
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 10px;
}

.class-card-container p {
    margin-bottom: 20px;
}

.class-card-container button {
   position: absolute;
   bottom: 0;
   right: 0;
   cursor: pointer;
   
   width: 50%;
   height: 50px;
   margin-bottom: 8px;
   background-color: var(--tan);
   border: none;
   border-radius: 2px;
}

.class-card-bg {
    width: 70%;
    height: 70%;
    position: absolute;
    background-color: #ddd;
    z-index: 0;
    top: 50%;
    margin-top: -25%;
}